<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>{{title}}</span>
  </mat-toolbar-row>
</mat-toolbar>



<mat-accordion class="example-headers-align">
  <mat-expansion-panel hideToggle *ngFor="let item of todoList">
    <mat-expansion-panel-header>
      <mat-panel-title>
          {{item.description}}
      </mat-panel-title>
      <mat-panel-description>
          {{item.assignedTo}}
      </mat-panel-description>
    </mat-expansion-panel-header>

      <p>{{item.done}}</p>

    <mat-action-row>
      <button mat-icon-button matTooltip="Delete" color="primary"><mat-icon>delete</mat-icon></button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
